body {
  background-color: lightgrey;
}
h1 h2{
  font-family:  'sans-serif';

}
p{
  font-family: serif;
}
.stories {
  text-align: center;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.news {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 1em 0;
  text-align: left;
  border-radius: 25px;
  box-shadow: 3px 3px 5px 6px black;
  
}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}
a{
  color: white;
  background-color:#333333;
  border: 2px, solid darkslategray;
  padding: 2px 2px 2px 2px ;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.button{
  text-align: center;
  padding-bottom: 20px;
}
.pagination{
  color: black;
  padding: auto;
  text-decoration: none;
  display: inline-block;
  
}

.pagination center{
  text-align: center;
}
  
 
