body {
  background-color: lightpink;
}
h1 h2{
  font-family:  'sans-serif';
  padding: 2em 1em;

}
p{
  font-family: serif;
  padding: 0 1em;
}
.stories {
  text-align: center;
  padding: 1em;
 |/*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;*/
  max-width: 60em;
}
.news {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 1em 0;
  text-align: left;
  border-radius: 2em;
  border: 0.25 solid black;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0.5, 0.5);
  
  
}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}

.button{
  display: inline-block;
  text-align: center;
  color: white;
  background-color: black;
  border: 9px, solid darkslategray;
  padding: 3px 3px;
  text-decoration: none;
  margin: 1em 6em;;
  box-shadow: 1em 1em 2em rgba(0, 0, 0.5, 0.5); 
  
}
.pagination{
  color: black;
  padding: auto;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 25 em) {
	.stories {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgreen;  
  }
}
@media screen and (min-width: 37.5em) {
	.stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightsalmon;  
  }
}
    
@media screen and (min-width: 75em) {
	.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightseagreen;  
  }
}

