body {
  background-color: lightgrey;
}
h1 h2{
  font-family:  'sans-serif';

}
p{
  font-family: serif;
}
.stories {
  text-align: center;
  padding: 1em;
}
.news {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 1em 0;
  text-align: left;
  border-radius: 25px;
}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}
a{
  color: white;
  background-color:#333333;
  border: 2px, solid darkslategray;
  padding: 2px 2px 2px 2px ;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.pagination{
  color: black;
  padding 2em;
  text-decoration: none;
  border: 1px solid grey;
  display: inline-block;
  text-align: center;
}
  
 
